body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 48px;
}

.container {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

.btn {
  margin: 10px;
  padding: 30px;
  text-align: center;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background-color: #14213d;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #14213d;
  background-color: #fca311;
}

.container__beers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: #f5f5f5;
  margin: 15px;
  padding: 15px;
  transition: 0.5s;
  border-radius: 10px;
}

.card__description {
  display: block;
  margin: 15px;
}
