body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  font-size: 72px;
  display: flex;
  justify-content: center;
}
.container {
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80vw;
}

p {
  margin: 0;
}
img {
  width: 100%;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: var(--black);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  border-radius: 10px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.commentary {
  padding: 10px;
  display: flex;
  border: solid 1px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 10px;
}

.commentary__img {
  height: 100px;
  width: auto;
  margin-right: 15px;
}

h4 {
  margin: 0;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.btn {
  background-color: #009879;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.action {
  margin: 5px;
  cursor: pointer;
}
