body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-container {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

.btn {
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-color: #ffe0b2;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffd54f;
  color: black;
}

.btn:focus {
  border: none;
}

img {
  border-radius: 10px;
  margin: 40px 0;
}
