.container {
    width: 630px;
    height: 450px;
    border: 1px solid;
    padding: 10px;
    margin: 100px auto;
}

.box {
    width: 150px;
    height: 150px;
    display: inline-block;  
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.one {
    background-color: darkgoldenrod; 
}

.two {
    background-color: darkcyan;
}

.three {
    background-color: darkolivegreen;
}

.four {
    background-color: darkred;
}
